.sidebar {
  width: var(--sidebar-width);
  padding: var(--padding-layout);
  border-right: 1px solid var(--color-border);
  overflow: hidden;
  white-space: nowrap;

  transition: width 0.3s ease-in-out;

  &.show {
    width: var(--sidebar-width);
  }

  &.hide {
    width: 4.5rem;
  }
}
