@use '../styles';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: var(--color-bg);
  height: 100vh;
  color: var(--color-white);
  font-family: var(--font-suse-sans);
}

a {
  text-decoration: none;
  color: var(--color-white);
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.not-found {
  height: 100%;
}
