.card {
  width: 250px;
}

.preview {
  position: relative;
  margin-bottom: 0.1rem;
}

.preview-img {
  border-radius: 4px;
}

.channel-link {
  position: absolute;
  bottom: 4px;
  left: 4px;

  & > .channel-img {
    border-radius: 50%;
  }
}

.info {
  margin-bottom: 0.5rem;
}

.channel {
  opacity: 0.45;
  font-size: 0.65rem;
}

.title {
  margin-bottom: 0.1rem;
}
