.skeleton {
  background-color: var(--color-slate);
  border-radius: 0.125rem;
  height: 2.5rem;
  margin-bottom: 0.625rem;
  border-radius: 4px;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}
